.home-products-container {
  background-color: #6a60600f;
  margin-top: 100px;
}
.product-categories {
  display: flex;
  gap: 60px;
  padding: 0px 20px;
}

.product-categories span {
  cursor: pointer;
}

.product-categories span:hover {
  color: red;
  border-bottom: 2px solid red;
}

.product-card {
  border: none;
  position: relative;
  overflow: hidden;
}

.product-image {
  position: relative;
}

.product-image img {
  width: 100%;
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: black;
  color: white;
  padding: 5px;
  font-size: 0.8rem;
}
.home-products-card-fav-icon {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  background: white;
  border-radius: 100%;
  color: black;
  padding: 10px;
  font-size: 1rem;
}

.pre-product-icons {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}

.product-card:hover .pre-product-icons {
  display: flex !important;
  gap: 10px;
  align-items: center;
  justify-content: space-between !important;
}

.product-icons {
  display: flex !important ;
  justify-content: space-between !important;
  align-items: center;
}

.add-to-cart {
  font-size: 0.8rem;
}

.product-title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}
.product-title:hover {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  color: #ff4c3b;
  cursor: pointer;
}

.product-price {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.new-price {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

.old-price {
  font-size: 1rem;
  color: gray;
  text-decoration: line-through;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.product-rating-icon {
  color: goldenrod;
}

@media (max-width: 576px) {
  .product-categories {
    gap: 20px ;
    white-space: nowrap;
    font-size: 13px;
    
  }
  .featured-products h1{
    margin-top: 0 !important;
    
  }
}
