.customerNavbar-main-div {
  background-color: #ff4c3b;
}

/* Top Navbar */
.top-navbar {
  padding: 10px 0;
  background-color: #ff4c3b;
}
.customerNavbar-vendor-login-btn,
.customerNavbar-vendor-rider-btn {
  padding: 4px 5px;
  color: white;
}
.customerNavbar-vendor-login-btn:hover,
.customerNavbar-vendor-rider-btn:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.top-navbar .nav-link {
  color: #fff;
  margin-left: 15px;
}

/* Bottom Navbar */
.bottom-navbar {
  background-color: white;
  padding: 20px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.bottom-navbar .navbar-brand {
  font-family: "Arial Black", sans-serif;
  color: #000;
  font-size: 24px;
}

.bottom-navbar .navbar-nav .nav-link {
  color: #000;
}

.navbar-icons {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navbar-icons svg {
  color: #000;
}

.icon-with-badge {
  position: relative;
  font-size: 1.5rem;
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
}

.customNavbar-icons-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dee2e67d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.customNavbar-links:hover {
  color: #ff4c3b !important;
  border-bottom: solid #ff4c3b 3px;
}

@media (max-width: 576px) {
  /* Top Navbar */

  /* Hide other elements in the top navbar except for the dropdowns */
  .top-navbar > .container > .row > .col-md-6:first-child,
  .customerNavbar-vendor-login-btn,
  .customerNavbar-vendor-rider-btn,
  .customNavbar-contact,
  .top-navbar .nav-link {
    display: none;
  }

  /* Adjust dropdowns to align them in the center */
  .customNavbar-icon-border {
    border-left: none;
  }

  .top-navbar {
    justify-content: center;
    display: flex;
  }

  /* Bottom Navbar */
  .navbar-toggler-left {
    position: absolute;
    left: 0;
    border: none;
    margin-left: 5px;
  }

  /* Shift the logo slightly to the right */
  .bottom-navbar .logo {
    margin-left: 30px; /* Adjust as needed to match the hamburger icon size */
  }
  .icon-with-badge {
    position: relative;
    font-size: 1.1rem;
  }
  .customNavbar-icons-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dee2e67d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .bottom-navbar .navbar-nav {
    display: none;
  }

  /* Keep the icons visible on the right */
  .navbar-icons {
    margin-left: auto; /* Push icons to the far right */
    display: flex;
    gap: 10px !important;
    top: 25px;
    right: 10px;
    position: absolute;
  }
  .logo {
    font-size: 20px !important;
  }
}
